.app-layout{
    background-color: #D8BFD8;
    min-height: 100vh;
}
.sidebar{
    height: 100vh;
    background-color: #D8BFD8;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    overflow: auto;
    top: 0;
    scrollbar-width: none;
    transition:  all .4s;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-content {
    background-color: #E6E6FA;
    height: 100vh;
    overflow: auto;
}
.auth-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    text-transform: uppercase;
    color: #694F8E;
}
.panel-heading{
    text-transform: uppercase;
    color: #694F8E;
}
.sidebar ul{
    list-style: none;
    padding: 0;
    flex-grow: 1
}
.sidebar ul li a{
    color: #5e3f8e;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    border-radius: 5px;
}
.sidebar ul li a:hover{
    background: #5e3f8e;
    color: #fff;
}
.active-link{
    background: #5e3f8e;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
}
.btn-sec{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}
.btn-sec .signoutBtn{
    background-color: #9370DB;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    bottom: 0;
}
.btn-sec .signoutBtn:hover{
    background-color: #694F8E;
    color: #fff;
}

/* Icon-only state for sidebar */
.sidebar.icon-only{
    width: 70px;
}
.sidebar.icon-only ul li a{
    text-align: center;
}
.sidebar.icon-only ul li a .text{
    display: none;
}

@media (max-width: 576px) {
    .sidebar{
        transform: translateX(-100%);
    }
}
.sidebar-open {
    transform: translateX(0) !important;
}