.empCardTitle{
    font-weight: 600;
}
.empCardRole{
    font-weight: 600;
    text-transform: uppercase;
}
.btn-close:focus{
    box-shadow: none;
    border: none;
}
.modal-header{
    border: none;
}
.profViewInput{
    border: 1px solid #694F8E;
}
.profViewInput:focus{
    border: 1px solid #694F8E;
    box-shadow: none;
}

.changePwdBtn{
    background-color: #9370DB;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.changePwdBtn:hover{
    background-color: #694F8E;
    color: #fff;
}