.empCardTitle{
    font-weight: 600;
}
.empCardRole{
    font-weight: 600;
    text-transform: uppercase;
}
.btn-close:focus{
    box-shadow: none;
    border: none;
}
.modal-header{
    border: none;
}
.profViewInput{
    border: 1px solid #694F8E;
}
.profViewInput:focus{
    border: 1px solid #694F8E;
    box-shadow: none;
}