.sign-in{
    background: #fff;
    box-shadow: 0 3px 20px -2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-in-form{
    border-radius: 8px;
}
.sign-in-form h1{
    color: #694F8E;
    text-transform: uppercase;
}
.sign-in-form h2{
    color: #B692C2;
    text-transform: uppercase;
}
.sign-in-form p{
    color: #666;
}
.sign-in-form .form-label{
    display: block;
    font-weight: bold;
    color: #333;
}
.sign-in-form .form-control,
.sign-in-form .form-select{
    width: 100%;
}
.sign-in-form .form-control:focus,
.sign-in-form .form-select:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #694F8E;
}
.sign-in-form .signInBtn{
    background-color: #9370DB;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sign-in-form button:hover{
    background-color: #694F8E;
    color: #fff;
}
.sign-in-form p a{
    color: #9370DB;
}
.sign-in-form h6{
    color: #9370DB;
    text-transform: lowercase;
    text-decoration: underline;
    cursor: pointer;
}
.sign-in-img{
    border-radius: 8px;
}
