.view-emp-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 20px;
}
.emp-card{
    border: 1px solid #fff;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    max-width: 600px;
}
.emp-card:hover{
    transform: scale(1.05);
}
.card-label {
    color: #694F8E;
    font-size: 18px;
}
.card-detail{
    font-size: 16px;
}

.emp-nav .nav-btn i {
    font-size: 28px;
    color: #9370DB;
}

.emp-nav .nav-btn i:hover {
    color: #694F8E;
}

/* Media query for small screens */
@media (max-width: 576px) {
    .emp-card {
        flex-direction: column;
        align-items: center;
    }
/* 
    .emp-card-name,
    .emp-card-details {
        width: auto;
        text-align: center;
    }

    .emp-card-name .emp-card-image {
        width: 100%;
    } */
}